body {
	font-size: 15pt;
}
button {
	background-color: grey;
}
.fanz{
	color: gold;
}
.fin{
	border-color: blue;
}
.rafly{
	color: orange;
}
.naufal{
	border-color: blue;
}
.PAPAT{
	color: gold;
}
.zefanz{
	background-color: black;
}
.text{
	color: orange;
}
.text2{
	color: black;
}

.log{
	color: violet;
}
.kelompok{
	color: orange;
}
.reg{
	color: violet;
}
.border{
	border-color: blue;
}
.home{
	color: white;
}
.profil{
	color: white;
}
.pemesanan{
	color: white;
}
.info{
	color: white;
}
.tiket{
	color: orange;
}
.odang{
	color: black;
}
.bantal{
	color: white;
}
.sign{
	color: white;
}
.create{
	color: white;
}